package components

templ Footer() {

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                powered by Sebastian Eßling @mindsquare AG - official Salesforce Partner. All prices and numbers are estimations and possibly outdated.
            </p>
        </div>
    </footer>
}